<footer id="signup">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <!-- <div class="row footer-info">
        <div class="large-4 medium-4 small-12 columns">
          <p class="footer-copyright">© 2018 Five Out Ltd</p>
        </div>
        <div class="large-4 medium-4 small-12 columns medium-text-center small-text-left hide-for-small-only show-for-medium">
          <a href="https://twitter.com/_WithPhil" target="_blank" class="social-button">
            <img src="/images/logos/social/twitter.svg">
          </a>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <div class="social-button-row medium-text-right small-text-left">
            <a href="/contact/">Contact Us</a>
          </div>
        </div>
        <div class="large-4 medium-4 small-12 columns medium-text-center small-text-left show hide-for-medium">
          <a href="https://twitter.com/_WithPhil" target="_blank" class="social-button">
            <img src="/images/logos/social/twitter.svg">
          </a>
        </div>
      </div> -->
      <div class="row footer-info">
        <div class="large-4 medium-4 small-12 columns">
        </div>
        <div class="large-4 medium-4 small-12 columns text-center">
          <p class="footer-copyright">© 2018 Five Out Ltd</p>
        </div>
        <div class="large-4 medium-4 small-12 columns">
        </div>
      </div>

    </div>
  </div>
</footer>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<!-- <script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "dismiss": "I'm happy",
    "message": "We use cookies on this site. Please confirm you're happy or find out how to manage your cookies.",
    "href": "https://oh-mimo.com/terms/cookies"
  }
})});
</script> -->
